<div class="container-fluid">
    <h2 class="text-center">New Diary entry</h2>
    <hr>
    <form>
        <div class="form-group">
  
            <label for="name">Name</label>
            <input type="text" required class="form-control" id="name">
  
        </div>
        <div class="form-group">
  
            <label for="notes">Diary Entry</label>
            <textarea class="form-control" id="diaryEntry" rows="4" required></textarea>
  
        </div>
        <div class="form-group">
            <label for="dateEnter">Entry Date</label>
            <input type='date' id="enterDate" required>
  
        </div>
    </form>
  </div>
